<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <footer>
        <div id="footer">
            <div id="social-media">
                <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                <a href="#"> <i class="fa-brands fa-facebook"></i></a>
                <a href="#"> <i class="fa-brands fa-twitter"></i></a>
             </div>
            <div id="treams-and-conditions">
                <p>&copy; All Copyright Reserved</p>
            </div>
            <div id="fotter-logo">
                <i class="fa-brands fa-airbnb" style="color: #f5000c;"></i>
                <p>WanderLust</p>
            </div>
          
        </div>
    </footer>
</body>
</html>