<% layout('./layouts/boilerplate.ejs') %> <!-- Specify the layout to use -->

<style>
    #icons-list{
        /* width: 10%; */
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap ;
        padding: 1rem;
    }

    #toggleButton {
    padding: 10px 20px;
    border: none;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    }

    #toggleButton.active {
        /* background-color: darkgray;
        color: white;
         */
    }
    
    li{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    i{
        opacity: .75;
        font-size: 1.3rem;
    }
    .taxes {
        font-size: .8rem;
        display: none;
    }


    i:hover{
        opacity: 11;
    }

    li p  {cursor: pointer;
        /* text-align: center; */
        font-size: .7rem;
    }

    #icons{

        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 0; /* Optional: Removes default padding */
        margin: 0;  /* Optional: Removes default margin */

    }

    #icons li {
        margin: auto;
    }
    .tax-border{
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        /* flex-direction: column; */
        align-items: center; 
        justify-content: center;
    }
    .tax-border input {
        margin: -5px 30px;
    }
    #toggleButton{
         color: blue !important;
         background-color: rgb(209, 32, 61);
    }

    @media (max-width: 798px) {
        #icons-list{
            display: none;
        }
        #search {
            display: none;
        }
    }

</style>

<body>
    

    <div class=" row " id="icons-list">
       <ul id="icons" class="border col-10">
        <li class="borde" ><div><i class="fa-solid fa-water-ladder"></i></div>
            <p>water land</p></li>
        <li class="bordr" ><div><i class="fa-solid fa-plane-departure"></i></div>
            <p>plane departure</p></li>
        <li class="borer" ><div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>umbrella beach</p></li>
        <li class="brder" ><div><i class="fa-solid fa-house-flood-water"></i></div>
            <p>flood water</p></li>
        <li class="borer" ><div><i class="fa-solid fa-parachute-box"></i></div>
            <p>parachute</p></li>
        <li class="order" ><div><i class="fa-solid fa-map-location-dot"></i></div>
            <p>location</p></li>
        <li class="borer" ><div><i class="fa-solid fa-tower-broadcast"></i></div>
            <p>broadcasst</p></li>
        <li class="brder" ><div><i class="fa-solid fa-cloud-showers-heavy"></i></div>
            <p>shower heavy</p></li>
        <li class="bordr" ><div><i class="fa-solid fa-atom"></i></div>
            <p>faren atom</p></li>
       </ul>

       <div class="tax-border col-2">
            <label class="form-check-label" for="toggle-button">Include Tax</label>
            <input class="form-check-input" type="checkbox" id="toggleButton">
        </div>
    </div>

    <div id="main" class="row  row-cols-lg-4 row-cols-md-2 row-cols-sm-1">

        <% for(let index of allListings) { %>

            <div class="col single-list">

                <a href="/listings/<%= index._id %>" class="card-link">

                    <div class="card" style="width: 20rem;">

                        <img src="<%= index.image.url %>" class="card-img-top" alt="Keep Patient">
                        <div class="overlay">
                            
                        </div>
                        <div class="uplode-icon">
                            <a href="#"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title">
                                <b><%= index.title %></b>
                            </h5>

                            <p>&#x20B9;
                                <%= index.price %> per night 
                                <i class="taxes" id="tax">+ 18% GST</i>
                            </p>

                        </div>

                    </div>

                </a>

            </div>

        <% } %>

    </div>
    
<script>

     let taxBtn = document.querySelector("#toggleButton");
     let taxes = document.getElementsByClassName("taxes")
     taxBtn.addEventListener("change" , ()=> {
        console.log("btn clicked ! ");

        for(index of taxes) {

            if(index.style.display === "inline"){

                index.style.display = "none"
            }else{
                index.style.display = "inline"
            }
           
        }
     })

     

</script>
</body>
